<h1>Doctor's Office Listing</h1>


<h3>Enter In Doctor Information</h3>
<form action="/add_doctor" method="post">
  <div class="form-group">
    <label for="name">Doctor's Name:</label>
    <input type="text" name="name" required pattern=".*\S+.*" title="This field is required" placeholder="example">
  </div>
  <div class="form-group">
    <label for="specialty_name" name="specialty_name">Specialty:</label>
    <select name="specialty_name">
      <option value="General Practice">General Practice</option>
      <option value="Love Guru">Love Guru</option>
      <option value="Higher Thought">Higher Thought</option>
    </select>
  </div>
  <button type="submit" name="button">Add</button>
</form>
